<h1>About this project</h1>

<%= image_tag "project.jpg" ,class: "img-fluid"%>    

<p class ="mt-4"> This project is created by Kanatid.
    The purpose of creating this project is to personally practice rails basics.
</p>